<!--Componente HTML de login para que el usuario ingrese-->

<ion-card>
  <ion-card-header>
    <ion-card-title> Login </ion-card-title>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    </ion-avatar>
  </ion-card-header>

  <ion-card-content>
    <!--Labels para ingresar datos de usuario-->
  </ion-card-content>

  <!--Botones para ingresar y crear cuenta-->
  <ion-button>
    Ingresar
  </ion-button>

  <ion-button>
    Ingresar con Google
  </ion-button>

  <ion-button>
    Crear cuenta
  </ion-button>

</ion-card>